.AllOfThings {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 6vh;
  align-items: flex-end;

  .copyright {
    display: flex;
    justify-content: flex-start;
  }

  .pictures {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;

    img {
      padding-right: 15px;
      cursor: pointer;
    }

    .logoX {
      width: 5%;
    }

    .logoInsta {
      width: 5%;
    }

    .logoLin {
      width: 5%;
    }

    .logoYt {
      width: 5%;
    }
  }
}
